.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
  
    .navigation-icon {
      cursor: pointer;
      font-size: 36px;
    }
  
    .navigation-menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      a {
        margin-top: 20px;
        font-size: 36px;
        text-decoration: none;
        color: #fff;
      }
    }
  }
  